<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#"><span class="fab fa-angular" aria-hidden="true"></span> {{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <span class="fas fa-home" aria-hidden="true"></span> {{ home }}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/{{ movies }}">
          <span class="fas fa-film" aria-hidden="true"></span> {{ movies }}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/{{ series }}">
          <span class="fas fa-file-video" aria-hidden="true"></span> {{ series }}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/{{ add | lowercase }}">
          <span class="fas fa-plus-square"></span> {{ add }}
        </a>
      </li>
    </ul>
    <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)" class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search" ngModel>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!searchForm.valid">{{ search }}</button>
    </form>
  </div>
</nav>
